.Card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    margin-bottom: 5px;

}

.Name{
    font-size: 1.2rem;
    text-wrap: wrap;
}

.Prueba{
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0px 5px;
    background-color: yellow;
    text-decoration: none;
}

.Space{
    margin-bottom: 10px;
}



